/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General styling */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}